body{
    background-color: lightgray;
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: black;
}

.button-container {
    display: flex;
    justify-content: center; /* Pusatkan tombol di tengah */
    margin-top: 20px; /* Jarak atas */
}
.button-container form {
    margin: 0 10px; /* Jarak antar tombol */
}